<h1>Users Admin</h1>
<div class="container row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th>{{user.id}}</th>
                    <th>{{user.name}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
